/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Add space between buttons */
  flex-wrap: wrap; /* Ensure buttons wrap on smaller screens */
  margin: 10px 0;
}


.add-new-button {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: auto; /* Default for desktop */
}

.add-new-button:hover {
  background-color: #45a049;
}

.danger-button {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #ea2d2d;
  color: white;
  border: none;
  cursor: pointer;
}

.danger-button:hover {
  background-color: #903145;
}

.modal {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}
/* Search form specific styles */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.search-button:hover {
  background-color: #45a049;
}

label {
  margin: 10px 0 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"], button[type="button"] {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

button[type="button"] {
  background-color: #f44336;
  color: white;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="button"]:hover {
  background-color: #e53935;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .App-header {
    min-height: auto;
    padding: 20px;
  }

  table, th, td {
    font-size: 14px;
  }

  th, td {
    padding: 6px;
  }

  .modal {
    max-width: 90%;
  }

  .add-new-button, .danger-button {
    width: 100%; /* Full-width buttons on mobile */
  }
}

@media (max-width: 480px) {
  th, td {
    font-size: 12px;
  }

  .add-new-button, .danger-button {
    padding: 8px 16px;
  }

  .modal {
    padding: 10px;
  }

  label {
    margin: 5px 0 2px;
  }

  input {
    padding: 8px;
    margin-bottom: 8px;
  }

  button[type="submit"], button[type="button"] {
    padding: 8px;
  }
}
